body {
  background: black;
}

button {
  background: red;
  color: black;
  width: 50%;
  max-width: 200px;
  height: 150px;
  margin: auto;
   align-self: center;
   cursor: pointer:
}

.container {
    display: flex;
      height: 100vh;
}
